.dark-mode {
  position: fixed;
  right: 20px;
  height: 50px;
  width: 50px;
  bottom: 10px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 100ms ease-in;
}

.dark-mode:active {
  transform: scale(1.1);
}

.bulb-on-icon {
  font-size: 2rem;
}

.bulb-off-icon {
  font-size: 2rem;
}

@media only screen and (max-width: 500px) {
  .dark-mode {
    bottom: 80px;
  }
}
