@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.memePost__container {
  color: white;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid #aaa;
  /* padding: 20px; */
  border-radius: 5px;
  margin: 30px;
  max-width: 80vw;
}

.memePost__user {
  display: flex;
  align-items: center;
  margin: 10px 20px 0px;
}

.memePost__rule {
  border: none;
  border-top: 2px solid #aaa;
  margin: 10px 0;
}

.memePost__captionPost {
  padding: 0 20px 20px;
}

.memePost__user > h1 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  top: 3px;
}

.memePost__avatar {
  width: 40px;
  border-radius: 100px;
  margin-right: 10px;
}

.memePost__captionPost > h2 {
  font-size: 1.4rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.memePost__img {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .memePost__user {
    margin: 10px 10px 0;
  }

  .memePost__captionPost {
    padding: 0 15px 15px;
  }

  .memePost__user > h1 {
    font-size: 0.8rem;
    top: 1px;
  }

  .memePost__avatar {
    width: 30px;
  }

  .memePost__captionPost > h2 {
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    width: 100%;
  }
}
