.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 5px 0;
  color: #ccc;
}

.footer-text {
  font-size: 1rem;
  font-weight: 300;
}

.footer-icon {
  color: white;
  margin: auto 10px;
  font-size: 1.5rem;
}
